label{
   @include span(12 nest);
}
input{
   @include span(12 nest);
}

.header{
 @include span(12)
 background-color: $header;
 height: 100px;
 font-size: 35px;
 font-weight: bold;
}

.content{
 /* @include span(12 nest) */
 .input{
  /*  @include span(6) */
  font-family: Arial;
   .line{
   	background-color: $list;
   	height: 5px;
   	margin-bottom: 20px;
   	margin-left: 10px;
	margin-right: 10px;
   }	
 }
 .output{
  /*  @include span(6)    */
   .line{
   	background-color: $list;
   	height: 5px;
   	margin-bottom: 20px;
   	margin-left: 10px;
	margin-right: 10px;
   }  
 }
}

.footer{
}

input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a{
    width: 50%;
    background-color: $list;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

a:hover {
    background-color: #00A1D6;
}

form {
	padding-bottom: 180px;
	margin-left: 15px;
	margin-right: 15px;
}

h2{
	margin-left:10px;
}

#outputBlock {
  	display: none;
  	margin-left: 15px;
	margin-right: 15px;
}

#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -75px 0 0 -75px;
  border: 7px solid #DEDEDE;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-0px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-0px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


[class*="col-"] {
    float: left;
    padding: 0px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    margin-bottom: 30px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-6 {width: 50%;}
}

table, th, td 
        {
            margin:10px 0;
            border:solid 1px #333;
            padding:2px 4px;
            font:15px Verdana;
        }
        th {
            font-weight:bold;
        }

