
[class*="col-"] {
    display: inline-block;
    padding: 0px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    margin-bottom: 30px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 45%;}
}

.header{
	width: 100%;
	background-color: $background-header;
	box-shadow: 0px 5px 15px #000000;
	.text{
		padding-top: 30px;
		padding-bottom: 10px;
		width: 60%;
		font-family: DejaVu Sans;
		font-size: 40px;
		margin: auto;
		color: $text-header;
		letter-spacing:-1px;
	}
}

.content1{
	background-color: $background-content1;
	.content_center{
		padding-top:20px;
		width: 60%;
		margin: auto;
		.kolom{
			vertical-align: top;
			padding-top: 15px;
			font-family: DejaVu Sans;
		}
	}
}
.content2{
	background-color: $background-content2;
	.content_center{
		width: 60%;
		margin: auto;
		padding-top: 15px;
		padding-bottom: 5px;
		.kolom{
			vertical-align: top;
			font-family: DejaVu Sans;
		}
	}
}
.footer{
	background-color: $footer;
	.text{
		padding-top:20px;
		padding-bottom: 10px;
		width: 60%;
		margin: auto;
		font-family: DejaVu Sans;
		font-size: 14px;
		color: #E8E8E8;
		text-align:center;
	}
}

.tittle{
	font-family: DejaVu Sans;
	font-size: 18px;
	color: #E8E8E8;
}
.isi{
	font-family: DejaVu Sans;
	font-size: 14px;
	color: #E8E8E8;
	text-align: justify;
}
.garis{
	border-bottom: dotted #E8E8E8 1.5px;
}

#judul_pendidikan{
}

#judul_pengalaman{
}

#judul_portofolio{
}

#judul_bahasa{
}

#judul_skill{
}


#isi_pendidikan{
	font-family: DejaVu Sans;
	font-size: 14px;
	color: #171717;
	text-align: justify;
}
#isi_pengalaman{
	font-family: DejaVu Sans;
	font-size: 14px;
	color: #171717;
	text-align: justify;
}
#isi_portofolio{
	font-family: DejaVu Sans;
	font-size: 14px;
	color: #171717;
	text-align: justify;
}
#isi_bahasa{
	font-family: DejaVu Sans;
	font-size: 14px;
	color: #171717;
	text-align: justify;
}
#isi_skill{
	font-family: DejaVu Sans;
	font-size: 14px;
	color: #171717;
	text-align: justify;
}




img {
    border-radius: 100%;
}

a{
	font-family: DejaVu Sans;
	font-size: 18px;
	color: #171717;
    text-decoration: none;
}

a:hover {
    color: $background-content1;
}