$bg-color:#FFFFFF;

$tablet-size:480px;
$desktop-size:1024px;
$background-header: #005F85;
$list: #52D4FF;
$form: #FFFFFF;
$text-header: #33B3CC;
$background-content1: #33B3CC;
$background-content2: #DEDEDE;
$footer: #003652;